Source: ros-indigo-lms1xx
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roscpp, ros-indigo-roscpp-serialization, ros-indigo-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-lms1xx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-roscpp, ros-indigo-roscpp-serialization, ros-indigo-sensor-msgs
Description: The lms1xx package contains a basic ROS driver for the SICK LMS1xx line of LIDARs.
